/***** reset tags style *****/
html,body,iframe,div,table,tr,th,td,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,span,a,img,form,input,select,textarea,pre {margin:0; padding:0;}
body,input,select,textarea,h1,h2,h3,h4,h5,h6,pre,b,i,em,cite {color:#555555; font:normal normal normal 12px/22px "微软雅黑",Verdana,Geneva,sans-serif;}
body {background:#ffffff;}
table {border-collapse:collapse;}
th {font-weight:normal; text-align:left;}
ol,ol li,form{float:left;}
input {padding-left:3px; height:24px;}
select {padding:2px 3px; height:26px; font-size:14px;}
ul,ol {list-style:none;}
li {height:auto;}
img{border:0;}
a,del {text-decoration:none;}
a:link,a:visited  {color:#2971BD;}
a:hover,a:active {color:#FE5F1B;}


/***** text(span) style *****/
.fs12 {font-size:12px;}
.fs14 {font-size:14px;}
.fs15 {font-size:15px;}
.fs16 {font-size:16px;}
.fs18 {font-size:18px;}
.fs20 {font-size:20px;}
.fs24 {font-size:24px;}
.fs32 {font-size:32px;}

.fml {margin-left:3px;}
.fmr {margin-right:3px;}
.fsm {margin:0 3px;}
.fsb {font-weight:bold;}
.fsi {font-style:italic;}
.fsc {cursor:pointer;}
.fsti {text-indent:2em;}
.fsta {text-align:center;}
.fsl {text-decoration:underline;}
.fsd {text-decoration:line-through;}
.hide {display:none;}
.show {display:block;}

.fcr {color:red;}
.fcrr {color:#A50000;}
.fcg {color:green;}
.fcgg {color:#045A04;}
.fcgray {color:gray;}
.fcb {color:#blue;}
.fcbb {color:#005EAC;}
.fcy {color:yellow;}
.fcyy {color:#F6AF27;}
.fcp {color:purple;}
.fcw {color:white;}

/***** body-first-div *****/
.div_main {margin:0 auto; width:1000px; height:auto; overflow:hidden;}
.div_main div {position:relative; float:left;}
#kindeditor div {float:none;}