/***** reset tags style *****/
html,body,iframe,div,table,tr,th,td,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,span,a,img,form,label,input,select,textarea,pre {margin:0; padding:0;}
body,input,select,textarea,h1,h2,h3,h4,h5,h6,pre,b,i,em,cite {color:#666666; font:normal normal normal 12px/22px Microsoft YaHei, Verdana,Geneva,sans-serif;}
body {background:#ffffff;}
table {border-collapse:collapse;}
th {font-weight:normal; text-align:left;}
ol,ol li,form {float:left;}
pre {white-space:pre-wrap; word-wrap:break-word;}
input {-webkit-tap-highlight-color:transparent; padding-left:3px; height:24px;}
select {padding:2px 3px; height:26px; font-size:14px;}
ul,ol {list-style:none;}
li {height:auto;}
img {border:0;}
a,del {text-decoration:none;}
a:link, a:visited {color:#2971BD;}
a:hover, a:active, .link {color:#FE5F1B;}


/***** text(span) style *****/
.fs12 {font-size:12px;}
.fs14 {font-size:14px;}
.fs15 {font-size:15px;}
.fs16 {font-size:16px;}
.fs18 {font-size:18px;}
.fs20 {font-size:20px;}
.fs24 {font-size:24px;}
.fs32 {font-size:32px;}

.fcr {color:red;}
.fcr1 {color:#a50000;}
.fco {color:#eb7350;}
.fcg {color:green;}
.fcg1 {color:#045a04;}
.fc0 {color:black;}
.fc3 {color:#333333;}
.fc6 {color:#666666;}
.fc8 {color:gray;}
.fc9 {color:#999999;}
.fcs {color:#e9e9d8;}
.fcb {color:blue;}
.fcb1 {color:#005eac;}
.fcy {color:yellow;}
.fcy1 {color:#f6af27;}
.fcp {color:purple;}
.fcw {color:white;}

.ml3 {margin-left:3px;}
.mr3 {margin-right:3px;}
.m3 {margin:3px;}
.ml5 {margin-left:5px;}
.mr5 {margin-right:5px;}
.m5 {margin:5px;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.ml10 {margin-left:10px;}
.mr10 {margin-right:10px;}
.m10 {margin:10px;}

.pl3 {padding-left:3px;}
.pr3 {padding-right:3px;}
.p3 {padding:3px;}
.pl5 {padding-left:5px;}
.pr5 {padding-right:5px;}
.p5 {padding:5px;}
.pl12 {padding-left:10px;}
.pr12 {padding-right:10px;}
.p12 {padding:12px;}

.fsb {font-weight:bold;}
.fsi {font-style:italic;}
.fmc {font-family:Consolas, Microsoft YaHei;}
.fsl {text-decoration:underline;}
.fsd {text-decoration:line-through;}
.border {border:solid #efefef 1px;}
.br2 {border-radius:2px;}
.br3 {border-radius:3px;}
.br5 {border-radius:5px;}
.br10 {border-radius:10px;}
.bgg {background-color:#efefef;}
.indent {text-indent:2em;}
.center {text-align:center;}
.right {text-align:right;}
.cp {cursor:pointer;}
.hide {display:none;}
.show {display:block;}



/***** body-first-div *****/
.stage {margin:0 auto; width:1000px; height:auto; overflow:hidden;}
.stage div {position:relative; float:left;}
#kindeditor div {float:none;}

.trace {padding:5px 24px;}
.trace h5, .trace h6 {margin-top:10px; padding:5px; border-radius:3px; background:#efefef; font-size:14px;}
.trace h5 {font-size:14px;}
.trace p {border:solid #efefef 1px; padding:5px 24px; color:green;}
.trace b {margin:0 12px; color:#A50000; font-weight:bold;}
.compare td {width:60px; height:30px; text-align:center;}

.abort .title {margin-top:90px; padding-left:45px; width:650px; height:60px; line-height:60px; font-size:18px; color:#eb7350; background:url(../image/tips.png) -25px -142px no-repeat;}
.abort .success_title {color:#8FAC05; background-position:-25px 10px;}
.abort .message, .abort .operation {padding-left:45px; width:650px; line-height:26px;}
.abort .message {margin-bottom:10px;}
.abort .operation b {font-size:15px; margin-right:3px; color:#eb7350;}

.date_picker {border:solid #dfdfdf 1px; border-top-color:#afafaf; background:white url(../image/date_picker.gif) right center no-repeat;}
.select_list {display:block; position:relative; width:303px; border:solid #C3C3C3 1px; background:white;}
.select_list dt {padding:6px; padding:8px\9; background:url(../image/select_list_bg_triangle.gif) right center no-repeat;}
.select_list dd {display:none; margin:2px 3px; padding:4px 2px; padding-top:6px\9; padding-bottom:6px\9;}


.check_ul_box li {margin-bottom:8px; padding:6px 0 6px 42px ; background:url(../image/check_box.gif) left top no-repeat; cursor:pointer;}
.check_ul_box .checked_box {background-position:left -48px;}