.select_list {width:150px; border:solid #C3C3C3 1px; background:white;}
.select_list  dt {padding:0 5px; background:url(../image/select_list_bg_triangle.gif) right center no-repeat;}
.select_list  dd {display:none; margin:2px 3px; padding:0 2px;}