/***** reset tags style *****/
html,body,iframe,div,table,tr,th,td,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,span,a,img,form,input,select,textarea,pre {margin:0; padding:0;}
body,input,select,textarea,h1,h2,h3,h4,h5,h6,b,i,em,cite {color:gray; font:normal normal normal 12px/22px "微软雅黑",Verdana,Geneva,sans-serif;}
body {background:#ffffff;}
table {border-collapse:collapse;}
th {font-weight:normal; text-align:left;}
ol,ol li,form{float:left;}
ul,ol {list-style:none;}
li {height:auto;}
img{border:0;}
a,del {text-decoration:none;}
a:link,a:visited  {color:#2971BD;}
a:hover,a:active {color:#FE5F1B;}


/***** text(span) style *****/
.fs12 {font-size:12px;}
.fs14 {font-size:14px;}
.fs15 {font-size:15px;}
.fs16 {font-size:16px;}
.fs18 {font-size:18px;}
.fs20 {font-size:20px;}
.fs24 {font-size:24px;}
.fs32 {font-size:32px;}

.fml {margin-left:3px;}
.fmr {margin-right:3px;}
.fsm {margin:0 3px;}
.ith {height:20px;}
.s_h {height:26px;}
.fsb {font-weight:bold;}
.fsi {font-style:italic;}
.fsc {cursor:pointer;}
.fsti {text-indent:2em;}
.fsta {text-align:center;}
.fsl {text-decoration:underline;}
.fsd {text-decoration:line-through;}
.tr_bc {background:#FFF5E2;}
.hide {display:none;}
.show {display:block;}

.fcr {color:red;}
.fcrr {color:#A50000;}
.fcrp {color:#F739C2;}
.fcg {color:green;}
.fcgg {color:#045A04;}
.fcb {color:#blue;}
.fcbb {color:#005EAC;}
.fcy {color:yellow;}
.fcyy {color:#F6AF27;}
.fcp {color:purple;}
.fcw {color:white;}

/***** body-first-div *****/
.div_main {margin:0 auto; width:1000px; height:auto; overflow:hidden;}
.div_main div {position:relative; float:left;}


.h1_title {float:left; padding:5px 24px; width:952px; border-bottom:solid #005EAC 2px;}
.fal {float:left;}
.far {float:right;}
.nav_title dl {float:left; margin:3px 4px; padding:0 5px; width:180px; font-size:14px;}
.nav_title dt {padding:2px 2px 3px 3px; font-size:15px; color:white; background:#005EAC; font-weight:bold;}
.nav_title dl dd {display:none; color:#005EAC; cursor:pointer;}
.main {margin-top:5px; padding:5px 10px; width:980px;}
.main a {margin:0 5px;}
.main h1 {float:left; padding:5px; font-size:15px; color:#E13300; font-weight:bold;}
.main h1 strong {width:600px;}
.main h1 b {float:left; width:90px;}

.main p {display:none; float:left; width:920px; padding:8px 24px; text-indent:2em; font-size:12px; border:solid #efefef 1px;}
.main li {padding:3px 0;}
.case_img {width:978px; border:solid #efefef 1px;}

p code {display:block; padding:5px 15px; width:720px; color:#005EAC; font-size:14px; border:solid #afafaf 1px; background-color:#f6f6f6; text-indent:0;}
p code i {color:#045A04;}
p code pre {color:red; width:600px; border:solid red 1px;}


.comment {display:none; margin:10px; padding:10px 24px; width:920px; border:solid #efefef 1px;}
.comment h5 {margin-bottom:10px; font-size:15px; font-weight:bold; border-bottom:solid #dfdfdf 1px;}
.comment table {margin:2px 12px;}
.comment_detail {height:26px;}
#comment_data {width:900px; overflow-x:hidden;}

.avatar, .avatar_30 {text-align:center; vertical-align:top;}
.avatar {width:65px;}
.avatar img {border-radius:3px;}
.avatar_30 {padding-top:10px; width:50px;}
.avatar_30 img {border-radius:1px; width:30px;}
.reply_textarea {padding:2px 5px; width:480px; height:60px; overflow-x:hidden;  overflow-y:auto;}
.reply_result_tip {width:400px; height:27px;}
.reply_result_tip i,.pub_result_tip i {color:green; font-weight:bold;}
.reply_result_tip em,.pub_result_tip em {color:red; font-weight:bold;}
.reply_submit {width:60px; height:26px; cursor:pointer;}
.comment_textarea {padding:2px 5px; width:500px; height:90px; overflow:hidden;}
.comment_submit {width:90px; height:26px; cursor:pointer;}
.pub_result_tip {width:400px; height:32px;}

#load_more {float:left; margin-bottom:20px; width:480px; text-align:center;}
#load_more button {width:240px; height:32px; color:#2971BD; cursor:pointer;}
#reply_form_html {display:none;}
#vote_tip {display:none; position:absolute; left:580px; top:35px; width:240px; text-align:center; background-color:#FCDEDE;}


.foot {margin-top:15px; padding:12px; width:976px; background-color:#efefef;}










/**login redister lay**/
.big_lay {position:absolute; top:0; left:0; width:100%; height:100%; background:transparent url(images/transparent_bg.png) left top repeat;}
.top_lay {padding:10px; position:fixed; top:50%; left:50%; margin:-170px 0 0 -240px; width:480px; border-radius:5px; background:transparent url(images/transparent_bg.png) left top repeat;}

.info_lay {height:320px; background-color:white;}
.info_lay h5 {padding:5px 12px; background-color:#005EAC; color:white; font-size:15px;}
.info_lay h5 span {float:left; padding:2px 12px; width:400px;}
.info_lay h5 cite {background:url(images/close_btn_icon.png) center -24px no-repeat; cursor:pointer;}

.info_lay table {margin:10px 36px;}
.info_lay table td {padding:3px 0; text-align:left;}
.info_lay table ol li {margin-right:20px; padding:3px 0; width:110px; font-size:14px; border-radius:3px; border:solid #efefef 1px; text-align:center; cursor:pointer;}
.info_lay table ol .now_option {border:solid #005EAC 1px; background-color:#005EAC; color:white;}
.input_text {width:180px; height:22px;}
#account_tip, #password_tip {padding-left:10px;}
#account_tip b, #password_tip b {color:green;}
#account_tip i, #password_tip i {color:#2971BD;}
#account_tip em, #password_tip em {color:#A50000;}
#account_tip cite, #password_tip cite {color:#F6AF27;}
.submit {width:60px; height:32px; color:#005EAC; font-size:15px; cursor:pointer;}
.info_lay img {margin-right:15px; border:SOLID #efefef 1px;}