/***** reset tags style *****/
html,body,iframe,div,table,tr,th,td,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,span,a,img,form,input,select,textarea,pre {margin:0; padding:0;}
body,input,select,textarea,h1,h2,h3,h4,h5,h6,b,i,em,cite {color:gray; font:normal normal normal 12px/22px Verdana,Geneva,sans-serif;}
body {background:#ffffff;}
table {border-collapse:collapse;}
th {font-weight:normal; text-align:left;}
ol,ol li,form{float:left;}
ul,ol {list-style:none;}
li {height:auto;}
img{border:0;}
a,del {text-decoration:none;}
a:link,a:visited  {color:#2971BD;}
a:hover,a:active {color:#FE5F1B;}


/***** text(span) style *****/
.fs12 {font-size:12px;}
.fs14 {font-size:14px;}
.fs15 {font-size:15px;}
.fs16 {font-size:16px;}
.fs18 {font-size:18px;}
.fs20 {font-size:20px;}
.fs24 {font-size:24px;}
.fs32 {font-size:32px;}

.fml {margin-left:3px;}
.fmr {margin-right:3px;}
.fsm {margin:0 3px;}
.ith {height:20px;}
.s_h {height:26px;}
.fsb {font-weight:bold;}
.fsi {font-style:italic;}
.fsc {cursor:pointer;}
.fsti {text-indent:2em;}
.fsta {text-align:center;}
.fsl {text-decoration:underline;}
.fsd {text-decoration:line-through;}
.tr_bc {background:#FFF5E2;}
.hide {display:none;}
.show {display:block;}

.fcr {color:red;}
.fcrr {color:#A50000;}
.fcrp {color:#F739C2;}
.fcg {color:green;}
.fcgg {color:#045A04;}
.fcb {color:#blue;}
.fcbb {color:#005EAC;}
.fcy {color:yellow;}
.fcyy {color:#F6AF27;}
.fcp {color:purple;}
.fcw {color:white;}

/***** body-first-div *****/
.div_main {margin:0 auto; width:1000px; height:auto; overflow:hidden;}
.div_main div {position:relative; float:left;}


.h1_title {float:left; padding:5px 24px; width:952px; border-bottom:solid #005EAC 2px;}
.fal {float:left;}
.far {float:right;}
.nav_title dl {float:left; margin:3px 8px; padding:0 5px; width:172px; font-size:14px;}
.nav_title dt {padding:2px 2px 3px 3px; font-size:15px; color:white; background:#005EAC; font-weight:bold;}
.nav_title dl dd {display:none; color:#005EAC; cursor:pointer;}
.main {margin-top:5px; padding:5px 10px; width:980px;}
.main a {margin:0 5px;}
.main h1 {display:none; padding:5px; font-size:15px; color:#E13300; font-weight:bold;}

.main p {display:none; padding:8px 24px; text-indent:2em; font-size:12px; border:solid #efefef 1px;}
.main li {padding:3px 0;}
.case_img {width:978px; border:solid #efefef 1px;}

p code {display:block; padding:5px 15px; width:720px; color:#005EAC; font-size:14px; border:solid #afafaf 1px; background-color:#f6f6f6; text-indent:0;}
p code i {color:#045A04;}
p code pre {color:red; width:600px; border:solid red 1px;}

.foot {margin-top:15px; padding:12px; width:976px; background-color:#efefef;}
.foot strong {float:right;}