{head script="jquery_17|public|form_check" group_script="message" style="basic" group_style="message"}
<div class="div_main">


<img src="{$group.image}message_banner.gif">

<form id="message" name="message" action="{$url}message/index/act_message" method="post"><table>
<tr><th>您的姓名：</th><td width="380px"><input name="name" type="text" size="24" maxlength="18"></td><td id="name_tip" class="tip">&nbsp;</td></tr>
<tr><th valign="top">您的留言：</th><td id="ked_edit"><textarea name="message_content"></textarea></td><td id="message_tip" class="tip" valign="top">&nbsp;</td></tr>
<tr><th>手机号码：</th><td><input name="contact_tel" type="text" size="24" maxlength="11"></td><td id="tel_tip" class="tip">&nbsp;</td></tr>
<tr><th>座机：</th><td><input name="contact_phone" type="text" size="24" maxlength="12"></td><td id="phone_tip" class="tip">&nbsp;</td></tr>
<tr><th>电子邮箱：</th><td><input name="email" type="text" size="24" maxlength="32"></td><td id="email_tip" class="tip">&nbsp;</td></tr>
<tr><th>验证码：</th><td><input name="code" type="text" size="24" maxlength="4"></td><td><img src="{$url}message/login/check_code/?check=message_code&amp;r_num=" alt="看不清？点击更换" title="看不清？点击更换" onclick="this.src=this.src+Math.random();"></td></tr>
<tr><td>&nbsp;</td><td id="result_tip" class="tip" colspan="2">&nbsp;</td></tr>
<tr><td>&nbsp;</td><td colspan="2" align="center"><input class="submit_btn" name="message_submit" type="submit" value="提交留言"></td></tr>
</table></form>





</div>
</body>
</html>