{head script="jquery_17|form_check" group_script="login" style="basic" group_style="login"}
<div class="div_main">


<img src="{$group.image}message_admin_banner.gif">



<div class="login">
<form id="admin_login" name="admin_login" action="{$group.url}login/act_login" method="post">
<dl><dt>登录EQPHP案例留言本管理后台</dt>
<dd>账　号：<input name="account" type="text" maxlength="32" tabindex="1"><span id="result_tip">&nbsp;</span></dd>
<dd>密　码：<input name="password" type="password" maxlength="32" tabindex="2"></dd>
<dd>验证码：<input name="code" type="text" maxlength="4" tabindex="3"><img class="code_img" src="{$group.url}login/check_code/?check=login_code&amp;r_num=" alt="看不清？点击更换" title="看不清？点击更换" onclick="this.src=this.src+Math.random();"></dd>
<dd><input id="submit_btn" name="login_submit" type="submit" value=" 登 录 " tabindex="4"></dd>
</dl></form>
</div>







</div>
</body>
</html>