<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>{$title}</title>
<meta name="keywords" content="" />
<meta name="description" content="EQPHP，一款简单易用（Easy）且安全高效（Quick）的PHP开源框架。" />
<meta name="author" content="art_youth" />
<link rel="stylesheet" type="text/css" href="{$url}file/static/style/basic.css" />
<script type="text/javascript" src="{$url}file/static/script/common.js"></script>
<link rel="shortcut icon" type="image/x-icon" href="{$url}favicon.ico" />
</head><body>

<div class="stage">
    <img src="{$url}file/static/image/eqphp_logo.png"><br>
    <script type="text/javascript">
        var frame_name=cookie.get('framework_name');
        document.write('welcome to use '+frame_name+'<br>');
    </script>
</div>

</body></html>