<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>欢迎使用 EQPHP</title>
<meta name="keywords" content="日志调试、性能分析、请求响应、上传下载、验证过滤、加密解密、缓存静态化、国际化、文件目录操作、数据库使用、图形图像处理、邮件短信发送、DOM表单构建、模板引擎解析" />
<meta name="description" content="EQPHP，一款简单易用（Easy）且安全高效（Quick）的PHP开源框架，SP-MVC架构思想" />
<meta name="author" content="art_youth" />

<link rel="stylesheet" type="text/css" href="{$url}file/static/style/basic.css" />

<script type="text/javascript" src="{$url}file/static/script/common.js"></script>

<link rel="shortcut icon" type="image/x-icon" href="{$url}favicon.ico" />
</head><body>

<div class="stage">

	{$logo}<br>
	<script type="text/javascript">
		var frame_name=cookie.get('frame_name');
		document.write('welcome to use '+frame_name+'<br>');
	</script>
</div>

</body></html>